<html>
<head>
	<title>Canvas Drawing</title>
	<script type=text/javascript src="{{
	  url_for('static', filename='Points.js') }}"></script>
	<script type=text/javascript src="{{
	  url_for('static', filename='Camera.js') }}"></script>
	
  <script type="application/x-javascript">

/* Copyright: Mark Dwyer (markus.dwyer@gmail.com)
 *
 * Date: 21 February, 2012
 * 
 *
 * There is no warranty that it is fit for any particular purpose, or that it 
 * will work at all. You use this source code solely at your own risk, and no 
 * liability can be assumed for any damage or loss incurred 
 * by your use of this software.
 */

// Constants
var DTOR = 0.0174532925;

// Dataset variables
var numberOfPoints;
var bounds = new Array(6);
var range = new Array(3);
var inv_range = new Array(3);

// Camera variables
var pos = new Array(3);
var dir = new Array(3);

// The drawing canvas
var canvas;
var c;
var ctx;

// Scene interaction stuff
var interactionEnum = {
	ROTATE: 0,
	TRANSLATE: 1,
	ZOOM: 2,
	RESET: 3
}
var tool;
var oldx, oldy;
var newx, newy;
var interactionValue = 0;


/*
 *  Get the point data statistics
 *  ie. Bounding box, etc
 */
function InitialiseData()
{
	numberOfPoints = points.length;
	
	bounds[0] = 9999999;
	bounds[2] = 9999999;
	bounds[4] = 9999999;
	bounds[1] = -9999999;
	bounds[3] = -9999999;
	bounds[5] = -9999999;

	// Calculate teh bounding box
	for (var i = 0; i<numberOfPoints; i++)
	{
		if (points[i][0] < bounds[0])
			bounds[0] = points[i][0];
		if (points[i][0] > bounds[1])
			bounds[1] = points[i][0];
		
		if (points[i][1] < bounds[2])
			bounds[2] = points[i][1];
		if (points[i][1] > bounds[3])
			bounds[3] = points[i][1];
		
		if (points[i][2] < bounds[4])
			bounds[4] = points[i][2];
		if (points[i][2] > bounds[5])
			bounds[5] = points[i][2];
	}
	
	// Precalculate distance information to reduce calculation overheads
	for (var i = 0; i<3; i++)
	{
		range[i] = bounds[i*2+1] - bounds[2*i];
		inv_range[i] = 1.0/range[i];
	}
	
}


/*
 *  Essentially configures the camera to a default position depending
 *  on the input data
 */
function InitialiseScene()
{
	// Set a default camera position
	pos[0] = bounds[0] + (range[0])*0.5;
	pos[1] = bounds[2] + (range[1])*0.5;
	pos[2] = bounds[4] + range[2]/2.0 + 0.5*range[2];
	
	// Look at the centroid of the point data
	dir[0] = bounds[0] + range[0]*0.5;
	dir[1] = bounds[2] + range[1]*0.5;
	dir[2] = bounds[4] + range[2]*0.5;
	
	// Set the camera parameters
	WindowAttr(720, 540);
	LookAt(pos, dir);
}


/*
 * Set all the pixels to black
 *
 */
function PaintBlack()
{
	for (i=0; i<canvas.width*canvas.height*4;i+=4)
	{
		canvas.data[i+0] = 0;
		canvas.data[i+1] = 0;
		canvas.data[i+2] = 0;
		canvas.data[i+3] = 255;
	}
}
 

/*
 * Render the points according to the camera options
 *
 *
 */
function Render()
{
	var ca = alpha;
	var cb = beta;
	var vd = view_dist;
	var vda = vd*aspect_ratio;
	var a = WorldTransform[0];
	var b = WorldTransform[1];
	var c = WorldTransform[2];
	var d = WorldTransform[3];
	var e = WorldTransform[4];
	var f = WorldTransform[5];
	var g = WorldTransform[6];
	var h = WorldTransform[7];
	var i = WorldTransform[8];
	var j = WorldTransform[9];
	var k = WorldTransform[10];
	var l = WorldTransform[11];
	var n = numberOfPoints;
	
	// clear the drawing surface 
	PaintBlack();
	
	var tempx, tempy, tempz;
	var px, py;
	var pxi, pyi;
	var x, y, z;
	var index;

	// Draw the points
	for ( var p = 0; p < n; p++ )
	{
		x = points[p][0];
		y = points[p][1];
		z = points[p][2];

		tempx = x*a + y*b + z*c + d;
		tempz = 1.0/(x*i + y*j + z*k + l);
		px = ca + ca*tempx*vd*tempz;
		if (px < viewport_width & px >= 0)
		{
			tempy = x*e + y*f + z*g + h;
			py = cb - cb*tempy*vda*tempz;
			if (py < viewport_height & py >= 0)
			{
				// Flooring is unfortunately necessary
				pxi = Math.floor(px);
				pyi = Math.floor(py);
				index = (pyi*viewport_width + pxi)*4;

				canvas.data[index] = 255;
				canvas.data[index+1] = 255;
				canvas.data[index+2] = 255;
				
				canvas.data[index+3] = 255;

			}
		}
	}

	// Copy the canvas to the HTML5 context
	ctx.putImageData(canvas,0,0);
}


/*
 *  Handle mouse movements
 */
function tool_rotate() 
{
	var tool = this;
	this.started = false;

	// Button down, record the x,y
	this.mousedown = function (ev) 
	{
		old_x = ev._x 
		old_y = ev._y;
		tool.started = true;
	};
	
	// Button down, record the x,y
	this.touchstart = function (ev) 
	{
		old_x = ev._x 
		old_y = ev._y;
		tool.started = true;
	};

	// Moving
	// Note: for big datasets, you may want to comment out this function
	this.mousemove = function (ev) 
	{
		if (tool.started) 
		{
			newx = ev._x;
			newy = ev._y;
		
			// Rotating	
			if (interactionValue == interactionEnum.ROTATE)
			{
				var _x = (newx-old_x)/viewport_width;
				var _y = (newy-old_y)/viewport_height;
				RotateRight(_x*180.0*DTOR);
				RotateUp(_y*180.0*DTOR);
				Render();
	  	}
	  	// Translation
	  	else if (interactionValue == interactionEnum.TRANSLATE)
	  	{
				var _x = (newx-old_x)/viewport_width;
				var _y = (newy-old_y)/viewport_height;

				MoveUp(_y);
				MoveRight(_x);
				Render();
	  	}
	  	// Zooming
	  	else if (interactionValue == interactionEnum.ZOOM)
	  	{
				var _y = (newy-old_y)/viewport_height;
				MoveForward(-1.0*_y);
				Render();
	  	}
	  		
	  	old_x = newx;
	  	old_y = newy;
		}
		
	};
	
	// Moving
	// Note: for big datasets, you may want to comment out this function
	this.touchmove = function (ev) 
	{
		if (tool.started) 
		{
			newx = ev._x;
			newy = ev._y;
		
			// Rotating	
			if (interactionValue == interactionEnum.ROTATE)
			{
				var _x = (newx-old_x)/viewport_width;
				var _y = (newy-old_y)/viewport_height;
				RotateRight(_x*180.0*DTOR);
				RotateUp(_y*180.0*DTOR);
				Render();
	  	}
	  	// Translation
	  	else if (interactionValue == interactionEnum.TRANSLATE)
	  	{
				var _x = (newx-old_x)/viewport_width;
				var _y = (newy-old_y)/viewport_height;

				MoveUp(_y);
				MoveRight(_x);
				Render();
	  	}
	  	// Zooming
	  	else if (interactionValue == interactionEnum.ZOOM)
	  	{
				var _y = (newy-old_y)/viewport_height;
				MoveForward(-1.0*_y);
				Render();
	  	}
	  		
	  	old_x = newx;
	  	old_y = newy;
		}
		
	};
	

	// This is called when you release the mouse button.
	this.mouseup = function (ev) 
	{
		if (tool.started) 
		{
			newx = ev._x;
			newy = ev._y;
			
			// Rotating	
			if (interactionValue == interactionEnum.ROTATE)
			{
				var _x = (newx-old_x)/viewport_width;
				var _y = (newy-old_y)/viewport_height;
				RotateRight(_x*180.0*DTOR);
				RotateUp(_y*180.0*DTOR);
				Render();
	  	}
	  	// Translation
	  	else if (interactionValue == interactionEnum.TRANSLATE)
	  	{
				var _x = (newx-old_x)/viewport_width;
				var _y = (newy-old_y)/viewport_height;

				MoveUp(_y);
				MoveRight(_x);
				Render();
	  	}
	  	// Zooming
	  	else if (interactionValue == interactionEnum.ZOOM)
	  	{
				var _y = (newy-old_y)/viewport_height;
				MoveForward(-1.0*_y);
				Render();
	  	}
			
			tool.started = false;
		}
	};
	
	// This is called when you release the mouse button.
	this.touchend = function (ev) 
	{
		if (tool.started) 
		{
			newx = ev._x;
			newy = ev._y;
			
			// Rotating	
			if (interactionValue == interactionEnum.ROTATE)
			{
				var _x = (newx-old_x)/viewport_width;
				var _y = (newy-old_y)/viewport_height;
				RotateRight(_x*180.0*DTOR);
				RotateUp(_y*180.0*DTOR);
				Render();
	  	}
	  	// Translation
	  	else if (interactionValue == interactionEnum.TRANSLATE)
	  	{
				var _x = (newx-old_x)/viewport_width;
				var _y = (newy-old_y)/viewport_height;

				MoveUp(_y);
				MoveRight(_x);
				Render();
	  	}
	  	// Zooming
	  	else if (interactionValue == interactionEnum.ZOOM)
	  	{
				var _y = (newy-old_y)/viewport_height;
				MoveForward(-1.0*_y);
				Render();
	  	}
			
			tool.started = false;
		}
	};
	
}


/*
 *  The general-purpose event handler. This function just determines the mouse 
 *  position relative to the canvas element.
 */
function ev_canvas (ev) 
{
	if (ev.layerX || ev.layerX == 0) 
	{ 
		// Firefox
		ev._x = ev.layerX;
		ev._y = ev.layerY;
	} 
	else if (ev.offsetX || ev.offsetX == 0) 
	{ 
		// Opera
		ev._x = ev.offsetX;
		ev._y = ev.offsetY;
	}

	// Call the event handler of the tool.
	var func = tool[ev.type];
	if (func) 
	{
		func(ev);
	}
}


/*
 *  Kick start everything on page load
 */
window.onload = function()
{
	InitialiseData();
	InitialiseScene();

	c = document.getElementById("myCanvas");
	ctx = c.getContext("2d");
	canvas = ctx.createImageData(viewport_width, viewport_height);
	
	// Draw 
	Render();
	
	// My event handler
	tool = new tool_rotate();

	// Attach the mousedown, mousemove and mouseup event listeners.
	c.addEventListener('mousedown', ev_canvas, false);
	c.addEventListener('mousemove', ev_canvas, false);
	c.addEventListener('mouseup',   ev_canvas, false);
	
	// Listen for touch events
	c.addEventListener('touchend', ev_canvas, false);
	c.addEventListener('touchmove', ev_canvas, false);
	c.addEventListener('touchstart', ev_canvas, false);
}


/*
 *  Let the user know which button is pressed ... print on canvas lower left
 */
function ButtonClick(value)
{
	interactionValue = value;
	ctx.fillStyle="#FF0000";
	if (interactionValue == interactionEnum.ROTATE)
	{
		ctx.fillText("Rotate", 10, viewport_height-25);
	}
	else if (interactionValue == interactionEnum.TRANSLATE)
	{
		ctx.fillText("Translate", 10, viewport_height-25);
	}
	else if (interactionValue == interactionEnum.ZOOM)
	{
		ctx.fillText("Zoom", 10, viewport_height-25);
	}
}


</script>

</head>
<body>
	
	<canvas id="myCanvas" width="480" height="540" style="border:0px solid #c3c3c3;">
	Your browser does not support the canvas element.
	</canvas>
	<p>
	<button onclick="MoveForward(-1.0);Render();">Zoom Out</button>
	<button onclick="MoveForward(1.0);Render();">Zoom</button>
	<button onclick="MoveUp(0.1);Render();">Up</button>
	<button onclick="MoveUp(-0.1);Render();">Down</button>
	<button onclick="MoveRight(0.1);Render();">Right</button>
	<button onclick="MoveRight(-0.1);Render();">Left</button>
	<button onclick="RotateRight(.1*180.0*DTOR);Render();">Rotate Right</button>
	<button onclick="RotateRight(-.1*180.0*DTOR);Render();">Rotate Left</button>
	
	</p>
</body>
</html>
